<table>
  <!-- Position Column -->
  <thead>
      <tr>
          <th>position</th>
          <th>name</th>
          <th>amount</th>
          <th>type</th>
        </tr>
        

  </thead>
<tbody>
  <tr *ngFor="let item of tableData;let i = index;">
    <td>{{i+1}}</td>
    <td>{{item.name}}</td>
    <td>{{item.amount}}</td>
    <td>{{item.type}}</td>
  </tr>
</tbody>
  
</table>