<form [formGroup]="addItemForm" (ngSubmit)="addCashFlow()">
    <mat-form-field class="form-control">
        <mat-label>name</mat-label>
        <input matInput placeholder="name" type="text" formControlName="name" />

    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>amount</mat-label>
        <input matInput placeholder="amount" type="text" formControlName="amount" />

    </mat-form-field>
    <mat-form-field>
        <mat-label>type</mat-label>
        <mat-select formControlName="type">
            <mat-option *ngFor="let type of source;let i = index" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-fab color="primary" type="submit">
        <mat-icon matSuffix>add</mat-icon>
    </button>
</form>