<div class="example-container">
  <h1 style="text-align: center">login page</h1>
  <form [formGroup]="authForm" >
    <mat-form-field class="form-control" appearance="outline">
      <mat-label>your email</mat-label>
      <input
        matInput
        placeholder="Email"
        type="email"
        formControlName="email"
      />
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field class="form-control" appearance="outline">
      <mat-label>your password</mat-label>
      <input
        matInput
        placeholder="password"
        type="password"
        formControlName="password"
      />
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
    <button
      [disabled]="!authForm.valid"
      [ngClass]="{ 'active-btn': authForm.valid }"
      mat-raised-button
      color="primary"
      (click)="submitForm('signin')"
    >
      login
    </button>
    <button
    [disabled]="!authForm.valid"
    [ngClass]="{ 'active-btn': authForm.valid }"
    mat-raised-button
    color="primary"
    (click)="submitForm('signup')"
  >
    register
  </button>
  </form>
</div>
